/* Global CSS */
* {
    font-family: Helvetica;
    font-size: 20px;
    color: seashell;
    top: 0;
    left: 0;
}

/* Header CSS */ 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 5;
    opacity: 0.9;
    background-color: black;
}

    header img {
        height: 50px;
        margin-left: 10px;
    }

    header nav {
        display: inline-block;
    }

        header nav a {
            font-size: 22px;
            color: white;
            padding: 0 10px;
        }

/* Section CSS 1: Our Mission */
.content {
    position: relative;
    top: 62px;
    background-color: black;
    text-align: center;
}

    .mission {
        width: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: black;
    }

        .mission #img-1 {
        }

            .mission #img-1 img {
                width: 1050px;
                height: 700px;
                position: relative;
            }

        .mission #cap-1 {
            width: 100%;
            height: 100px;
            position: absolute;
            top: 300px;
            background-color: black;
            text-align: center;
        }

        #cap-1

/* Section CSS 2: Featured Tea */
.featured {
    width: 100%;
    position: relative;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;

}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#imgs img {
    width: 300px;
    height: 200px;
    padding: 10px;
}

#imgs #caps {
    font-weight: bold;
    padding-bottom: 10px;
}

/* Section CSS 3: Locations */
.locations {
    width: auto;
    height: 500px;
    background-image: url(../img/img-locations-background.jpg);
    position: relative;
    display: flex;
    justify-content: space-around;
}

.locations #title {
    background: none;
    top: 40px;
    font-size: 25px;
}

.location-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 110px;
}

.location {
    width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    line-height: 10%;
    margin: 0 20px;
    background-color: black;
    text-align: center;
}

/* Footer CSS */
footer {
    height: 200px;
    background-color: black;
    padding: 1px 0 45px 0;
    text-align: center;
}

footer h2 {
    font-size: 25px;
}

#copyright {
    text-align: left;
    margin-left: 20px;
}